
<footer>
    <a class="nav-item nav-link" href="/accueil">Accueil</a>
    <a class="nav-item nav-link" href="/newsletter">Souscrire à la newsletter</a>
    <a class="nav-item nav-link" href="/contact">Contactez-nous</a>
    <a class="nav-item nav-link" href="/CGV">CGV</a>
    <a class="nav-item active" href="/CGUPC">CGU et politique confidentialité</a>
      <button type="button"  id="backtotop" >retour en haut</button>
    
</footer>
<small style="margin: auto;">Site réalisé par Amandine Rondeaux &copy; 2020 |</small>
</body>
</html>
