/*HOME PAGE DISPOSITION*/
 #homePage-container {
    display: inline-grid;
    grid-template-columns: 33% 33% 34% ;
    justify-items: center; 
    grid-template-rows: 20% 35% 10% 30%;
    row-gap: 20px;
    background-color: #D9D9D9;}
    /* background-image: -webkit-linear-gradient(-65deg, #D9D9D9 50%, #fafafa 50%); */

/** HOME PAGE**/
 #home-title {
    font-family: 'Bungee Shade', cursive;
    font-size: 2rem;
}

#slogan{
    grid-column:1/span 4;
    grid-row: 1;
    justify-self: center;
    text-align: center;
}

#txt-one{
    grid-column:1;
    grid-row: 2;
    width: 33vw;
    
    text-align: center;
    justify-items:flex-end;
    align-items: center;
    
}
#txt-two{
    grid-column:2/3;
    grid-row: 2;
    width:33vw ;
    text-align: center;
    justify-items:flex-end;
    align-items: center;
    
}
#txt-three{
    grid-column:3/4;
    grid-row: 2;
    width: 33vw;
    text-align: center;
    justify-items:flex-end;
    align-items: center;
}

#story{
    grid-column:1/span 4;
    grid-row: 4;
    text-align: center;
    justify-items:flex-end;
    align-items: center;
    background-color: #fafafa;
    /* background-image: -webkit-linear-gradient(70deg, #D9D9D9 50%, #fafafa 50%); */
   
 } 

img,.soon {
    
    width: 250px;
    height: 250px;
    border-radius: 20%;
} 



