<%- include('partials/header') %>


  <div id="account-container">
   
    <h1 class="account-title">Espace client</h1>
    <h2>Bienvenue <%= user %></h2>

    <div class="line"></div>

    
   



    
  <a class="btn" href="/logout">Log Out</a>
   
  </div>

</body>
</html>
