<%- include('partials/header') %>


<div id="end-container">
    <h1 class="end-title">Fin de la visite!</h1>
    
    
    <p>to be continued...</p>
    <a  href="/accueil">Retour à l'accueil</a>





