<%- include('partials/header') %>
<button type="button" class="btn btn-cgv" onclick="window.history.back()">revenir en arrière</button>
<h1 class="cgupc-title">Conditions générales d'utilisation</h1>
   <h1><a class="ancre" href="#pc"> Politique de confidentialité</a></h1>

<h2>Conditions générales d'utilisation</h2>
<p>Tous droits réservés</p>

<h3>Ressources du site UTA</h3>
<h4>Crédits photos</h4>

<p>Page d'accueil: 
    <ul>
        <li>Photo par Ph03nix1986 publiée sur Wikipédia: https://fr.wikipedia.org/wiki/Naboo#/media/Fichier:SHplanet.jpg </li>
        <li>Photo par Ph03nix1986 publiée sur Wikipédia: https://fr.wikipedia.org/wiki/Tatooine#/media/Fichier:DesertPlanet.jpg </li>
        <li>Photo par Emily Morter on Unsplash</li>
    </ul>
</p>

<p>Page Naboo</p>
<ul>
   
    <li>Les deux photos sont publiées par starwars fandom sur Wikipédia: https://starwars.fandom.com/fr/wiki/Theed </li>
   
</ul>

<p>Page Tatooine</p>
 <ul>
    <ul>
        <li>Photo par PixShark publiée sur le site new soft media:https://news.softpedia.com/news/Tatooine-Sunsets-Are-Probably-Happening-on-Distant-Earth-like-Planets-477171.shtml#sgal_0</li>
        <li>Photo publiée sur battlefront Fandom:https://battlefront.fandom.com/wiki/Tatooine:_Mos_Eisley </li>
        
    </ul>
 </ul>

<h2 id="pc">Politique de confidentialité</h2>

<h3>Conservation des données</h3>
<p>Les destinataires de ces données sont la société Ulliverse Travel Agency.
La durée de conversation des données est de 1 heure.
Vous bénéficiez d’un droit d’accès, de rectification, de portabilité, d’effacement de celles-ci ou une limitation du traitement.
Vous pouvez vous opposer au traitement des données vous concernant et disposez du droit de retirer votre consentement à tout moment en vous adressant à Ullliverse travel Agency.
Vous avez la possibilité d’introduire une réclamation auprès d’une autorité de contrôle. »</p>
<p>Toutes les données personnelles que nous 
    collectons au cours de votre visite, 
    grâce à l’utilisation de cookies, 
    seront automatiquement effacées dès que l’objectif de leur
     divulgation sera atteint. Les données de session sont 
     sauvegardées le temps que celle-ci se termine 
     (en quittant ou en fermant le site Web).
    </p>
    <small>source: https://www.ionos.fr/digitalguide/sites-internet/droit-dinternet/politique-de-confidentialite-sur-internet/</small>

<%- include('partials/footer') %>